/* styles.css */
.attcontainer {
    
    max-width: 800px;
    height: 49vh;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
  }
  
  input[type="file"] {
    padding: 5px;
  }
  
  .student-list {
    margin-top: 20px;
  }
  

  
  #fileInput {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  
  input:focus,
  select:focus {
    outline: none;
    border-color: #12253a;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .alert {
    text-align: center;
    margin-top: 20px;
  }
  