.notes-grid {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr; /* Adjust column widths */
    gap: 10px;
    padding: 10px;
    max-width: 2000px;
    margin-top: 5px;
    max-height: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.notes-grid-holder{
    max-width: 2000px;
    height: 49vh;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.progressholder {
    max-width: 800px;
    height: 49vh;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 50%;
}





